// Fonts
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular.eot');
    src: url('../fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans-Regular.woff2') format('woff2'),
        url('../fonts/OpenSans-Regular.woff') format('woff'),
        url('../fonts/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Bold.eot');
    src: url('../fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans-Bold.woff2') format('woff2'),
        url('../fonts/OpenSans-Bold.woff') format('woff'),
        url('../fonts/OpenSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Freestyle Script';
    src: url('../fonts/FreestyleScript-Regular.eot');
    src: url('../fonts/FreestyleScript-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FreestyleScript-Regular.woff2') format('woff2'),
        url('../fonts/FreestyleScript-Regular.woff') format('woff'),
        url('../fonts/FreestyleScript-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Champagne & Limousines';
    src: url('../fonts/ChampagneLimousines.eot');
    src: url('../fonts/ChampagneLimousines.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ChampagneLimousines.woff2') format('woff2'),
        url('../fonts/ChampagneLimousines.woff') format('woff'),
        url('../fonts/ChampagneLimousines.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



// Common
*, *::before, *::after {
    box-sizing: inherit;
}
html {
    -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
            box-sizing: border-box;
    height: 100%;
    font-size: 10px;
}
body {
    height: 100%;
    font-size: 1.6rem;
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    /*word-break: break-all;*/
    /*word-wrap: break-word;*/
}
.container {
    max-width: 1150px;
    margin: 0 auto;
    padding: 0 10px;
}
.section {
    padding: 100px 0;
}

// header
.header {
    background-color: #fff;
    font-family: 'Open Sans';
    box-shadow: 2.1px 2.1px 7px rgba(0, 0, 0, 0.15);
    
    &__nav {
        padding: 10px 0;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .nav__menu {

            &-logo {
                display: block;
                
                .logo {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    &-img {
                        display: block;
                        margin-bottom: 5px;
                    }

                    &-text {
                        color: #5363db;
                        font-family: 'Champagne & Limousines';
                        font-size: 24px;
                        font-weight: 700;
                        letter-spacing: 5px;
                    }
                }
            }

            &-list {
                display: flex;
            }

            &-item {

                &:not(:last-child) {
                    margin-right: 20px;
                }
            }

            &-link {
                color: #555;
                font-size: 14px;
                font-weight: 600;
                transition: color .3s;

                &.active,
                &:hover {
                    position: relative;
                    color: #5363db;

                    &::after {
                        content: '';
                        position: absolute;
                        bottom: -2px;
                        left: 50%;
                        transform: translateX(-50%);
                        width: 30px;
                        height: 2px;
                        background-color: #5363db;
                    }
                }
            }
        }
    }
}

.trial {
    background: url(../img/header_bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;

    .container {
        width: 80%;
        display: flex;
        justify-content: space-between;
    }

    &-card {
        min-width: 300px;
        padding-left: 10%;
    }

    .card {
        padding: 30px;
        border-radius: 20px;
        box-shadow: 5.7px 5.7px 10px rgba(0, 0, 0, 0.15);
        background-color: #fff;

        &-heading {
            margin-bottom: 30px;
            color: #5363db;
            font-size: 26px;
            font-weight: 600;
        }
        
        &-input {
            margin-bottom: 15px;
            width: 100%;
            display: block;
            padding: 10px 4px;
            background-color: #f2f2f2;
            border-radius: 8px;
            font-family: inherit;
            color: #888;
            font-size: 14px;
            font-weight: 400;
            border: none;
        }

        &-select {
            margin-bottom: 30px;
            width: 100%;
            display: block;
            padding: 10px 4px;
            background-color: #f2f2f2;
            border-radius: 8px;
            font-family: inherit;
            color: #888;
            font-size: 14px;
            font-weight: 400;
            border: none;

            &:focus {
                outline: none;
            }

            option {
                outline: none;
                border: none;
                width: 60%;

                &:focus {
                    outline: none;
                }
            }
        }

        &-btn {
            padding: 15px 0;
            width: 80%;
            float: right;
            background-color: #5b6ceb;
            border-radius: 8px;
            box-shadow: 2.1px 2.1px 5px rgba(0, 0, 0, 0.15);
            font-family: inherit;
            color: #fff;
            font-size: 16px;
            font-weight: 700;
            border: none;
            cursor: pointer;
            transition: all .5s;

            &:hover {
                background-color: #2c45ff;
            }
        }
    }

    &-text {
        padding: 10px 0 10px 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .heading {
            margin-bottom: 20px;
            color: #fff;
            font-size: 48px;
            font-weight: 700;
            line-height: 72px;
            text-transform: uppercase;
        }

        .descr {
            color: #fff;
            font-family: 'Freestyle Script';
            font-size: 40px;
            font-weight: 400;
        }
    }
}

.programs {

    &-text {
        margin-bottom: 70px;
        text-align: center;
        
        .heading {
            margin-bottom: 15px;
            color: #5b6ceb;
            font-size: 30px;
            font-weight: 700;
            text-transform: uppercase;
        }

        .descr {
            color: #777;
            font-family: 'Freestyle Script';
            font-size: 41px;
            font-weight: 400;
        }
    }

    .programs__products {
        display: flex;
        flex-wrap: wrap;

        .product {
            margin-bottom: 4%;
            width: 48%;
            display: flex;
            border-radius: 8px;
            box-shadow: 3.5px 3.5px 20px rgba(0, 0, 0, 0.1);
            
            &:nth-child(odd) {
                margin-right: 4%;
            }

            &__img {
                width: 50%;
                overflow: hidden;

                img {
                    display: block;
                    width: 100%;
                }
            }

            &__info {
                width: 50%;
                padding: 20px 40px 20px 20px;
                display: flex;
                flex-direction: column;
                justify-content: center;

                &-heading {
                    margin-bottom: 15px;
                    color: #777;
                    font-size: 20px;
                    font-weight: 700;
                    line-height: 45px;
                    text-transform: uppercase;
                }

                &-descr {
                    margin-bottom: 10px;
                    color: #555;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 22px;
                }

                &-type {
                    display: block;
                    color: #999;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 22px;
                }
            }
        }
    }
}

.gallery {

    &-list {
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        position: relative;
        width: 25%;
        cursor: pointer;

        &-img {
            // height: 100%;

            img {
                display: block;
                max-width: 100%;
            }
        }

        &-zoom {
            display: none;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: #5b6ceb;
            opacity: .8;
        }

        &:hover {

            & .gallery__item-zoom {
                display: flex;
            }
        }
    }
}